.primary-color {
    color: #b52b2b;
}

.primary-color-background {
    background-color: #b52b2b;
}

.movies-grid .MuiAvatar-colorDefault {
  background-color: #b52b2b;
}

.genre {
  text-transform: capitalize;
}

.movie-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-movie-form-wrap {
  outline: none;
}

.add-movie-form-wrap-inner {
  background-color: #ffffff;
  padding: 20px;
  max-height: 500px;
  overflow-y: scroll;
}

.add-movie-form-wrap-inner form {
  width: 100%;
}

.add-new-cast {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.add-new-cast svg {
  cursor: pointer;
}

.add-new-cast .add {
  color: green;
}

.add-new-cast .remove {
  color: red;
}
